body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    background: lightblue;
    width: 100%;
    height: 60px;
}

.header .control-btn {
    width: 46px;
    height: 46px;
}

.header__header-content {
    margin: 0 auto;
    padding-top: 5px;
}

.title {
    vertical-align: middle;
    font-size: 24px;
    margin-left: 15px;
}

.subtitle {
    font-size: 10px;
    margin-left: 15px;
}

.board-list {
    width: 30%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid white;
    display: none;
    margin-bottom: -10px;
}

.arrow-right.blue {
    border-left: 30px solid lightblue;
}

.task-list {
    width: 66%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.task {
    margin-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

.task-container {
    background: lightblue;
    display: inline-block;
    width: calc(100% - 15px);
    height: 30px;
}

.task a {
    text-decoration: none;
    color: black;
}

.task .task-controls {
    display: none;
}

.task:hover .task-controls {
    display: block;
}

.task.selected {
    width: calc(100% + 30px);
}

.task.selected .arrow-right{
    display: inline-block;
}

.task.selected .task-container {
    width: calc(100% - 45px);
}

.task-body, .task-controls {
    display: inline-block;
    padding: 6px;
}


.task-controls {
    float: right;
}

.addTask {
    float: right;
    display: inline-block;
    margin-right: 15px;
}

.boards-label, .tasks-label {
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 11px;
    display: inline-block;
}

.boards-list-menu, .task-list-menu {
    height: 40px;
}

.sign-in-menu {
    margin: 0 auto;
    width: 300px;
}

.side.left-side {
    width: calc(100% - 400px);
    display: inline-block;
}

.side.right-side {
    width: 390px;
    display: inline-block;
    float: right;
}

.side.right-side .btn {
    margin-left: 8px;
}