body {
    margin: 0;
}

.header {
    background: lightblue;
    width: 100%;
    height: 60px;
}

.header .control-btn {
    width: 46px;
    height: 46px;
}

.header__header-content {
    margin: 0 auto;
    padding-top: 5px;
}

.title {
    vertical-align: middle;
    font-size: 24px;
    margin-left: 15px;
}

.subtitle {
    font-size: 10px;
    margin-left: 15px;
}

.board-list {
    width: 30%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.task-list {
    width: 66%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.task {
    padding: 5px;
    background: lightblue;
    margin-top: 3px;
    cursor: pointer;
}

.task.selected {
    background: green;
}

.task-body, .task-controls {
    display: inline-block;
}

.task-controls {
    float: right;
}

.addTask {
    float: right;
}

.boards-list-menu, .task-list-menu {
    height: 40px;
}

.sign-in-menu {
    margin: 0 auto;
    width: 300px;
}

.side.left-side {
    width: calc(100% - 400px);
    display: inline-block;
}

.side.right-side {
    width: 390px;
    display: inline-block;
    float: right;
}

.side.right-side .btn {
    margin-left: 8px;
}